
<div class="autorisation">
  {{{header}}}
  {{title_aut}}
  <form action="" method="get">
    <label>
      {{login}}
      {{{input_login}}}
    </label>
     <label>
      {{password}}
      {{{input_password}}}
    </label>
    {{{button}}}
  </form>
  {{{link}}}
</div>