<div class="change_password">
    {{{header}}}
    
    {{{title}}}
    <form action="" method="get" class="edit__profile_form">
        
        <label>
            {{oldPassword}}
            {{{input_oldPassword}}}
        </label>
        
        <label>
            {{newPassword}}
            {{{input_newPassword}}}
        </label>
        
        <label>
            {{reapet_password}}
            {{{input_reapet}}}
        </label>

         
        
        {{{button}}}
    </form>

    {{{link_exit}}}
    {{{link_delete}}}
</div>

