<div class="edit__profile">
    {{{header}}}
    {{{avatar}}}
    {{{title}}}
      
    <div class="menu">
    	{{{item_set}}}
    	{{{item_invite}}}
    	{{{item_edit}}}
    
    </div>
  <footer>
    {{{link_exit}}}
    {{{link_delete}}}
  </footer>
</div>

