
<div class="autorisation">
  {{{header}}}
  {{{title}}}
  <form action="" method="get">
    <label>
      {{{input_login}}}
    </label>
     <label>
      {{{input_surname}}}
    </label>
    <label>
      {{{input_name}}}
    </label>
    <label>
      {{{input_phone}}}
    </label>
    <label>
      {{{input_password}}}
    </label>
    <label>
      {{{input_reapitPassword}}}
    </label>
    {{{button}}}
  </form>
  {{{link}}}
</div>
