<div class="edit__profile">
    {{{header}}}
    {{{avatar}}}
    {{{title}}}
      
    <form class="edit__profile_form">
    	{{mail}}
    	{{{input_mail}}}
    	{{login}}
    	{{{input_login}}}
    	{{name}}
    	{{{input_name}}}
    	{{surname}}
    	{{{input_surname}}}
    	{{phone}}
    	{{{input_phone}}}
    	{{{button}}}
    
    </form>
  <footer>
    {{{link_changePassword}}}
    {{{link_delete}}}
  </footer>
</div>

