<div class="edit__profile">
    {{{header}}}
    {{{avatar}}}
    {{{title}}}
    <form action="" method="get" class="edit__profile_form">
        
        <label>
            {{mail}}
            {{{input_mail}}}
        </label>
        
        <label>
            {{login}}
            {{{input_login}}}
        </label>
        
        <label>
            {{name}}
            {{{input_name}}}
        </label>

        <label>
            {{surname}}
            {{{input_surname}}}
        </label>

        <label>
            {{phone}}
            {{{input_phone}}}
        </label>
        
        {{{button}}}
    </form>

    {{{link_changePassword}}}
    {{{link_delete}}}
</div>

